<section class="sidebar-sponsors">
    <h3 class="section-title">Sponsors</h3>
    <div class="sponsor-logos">
        <a href="https://www.salesforce.com/eu/" target="_blank" rel="noopener noreferrer" title="Salesforce">
            <img src="/images/Salesforce-Corporate-Logo-Cloud-RBG.svg" alt="Salesforce" />
        </a>
        <a href="https://www.jetbrains.com/fr-fr/" target="_blank" rel="noopener noreferrer" title="JetBrains">
            <img src="/images/jetbrains-mono-white.svg" alt="JetBrains" />
        </a>
    </div>
</section>
<section class="contact">
    <h3 class="section-title contact-title">{=roq_theme:contact_title}</h3>
    <ul>
        {#for entry in brand.entrySet()}
        {#if site.data.get(entry.key)??}
        <li>
            <a href="{=entry.value.prefix()}{=site.data.get(entry.key)}" target="_blank" rel="noopener noreferrer">
                <i class="{=entry.value.icon()}" aria-hidden="true"></i>
            </a>
        </li>
        {/if}
        {/for}
        {#if site.data.get('social-meetup')??}
        <li>
            <a href="{=site.data.get('social-meetup')}" target="_blank" rel="noopener noreferrer" title="Meetup">
                <i class="fa-brands fa-meetup" aria-hidden="true"></i>
            </a>
        </li>
        {/if}
    </ul>
</section>
